
.restaurants-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 10vh;
  position: static;
  width: 100%;
  top: 0;
  background-image: url('../../../public/assets/img/AK_TLLAK_Restaurant-scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.restaurants-title {
  font-size: 5em;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.restaurants-main-content-container {
  display: flex;
  flex-direction: row;
}

.restaurants-list-container {
  width: 50vw;
  padding: 20px;
}
